<%= render 'layouts/student_nav'%>
<%=provide(:name,'Infomation')%>
<div class='row'>
  <div class='col-lg-4'>
    <div class='panel panel-primary'>
      <div class='panel-heading'>
        Head
      </div>
      <div class='panel-body'>
        <%= link_to image_tag(@head,alt:'head') ,class:'thumbnail'%>
        <button class='btn btn-primary'>Upload</button>
      </div>
    </div>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        ID Card
      </div>
      <div class='panel-body'>
        <%= link_to image_tag(@id_card,alt:'id_card') ,class:'thumbnail'%>
        <button class='btn btn-primary'>Upload</button>
      </div>
    </div>
  </div>
  <div class='rol-lg-8'></div>
</div>