
<%= content_for :user_nav do%>
  <ul class='navbar navbar-nav navbar-right'>
      <li  role='presentation'>
         <a class='dropdown-toggle' data-toggle='dropdown'>
             Driver
             <span class='caret'></span>
             </a>
             <ul class='dropdown-menu'>
                <li><a href="#">Info</a></li>
                <li><a href="#">Setting</a></li>
                <li><a href="#">Logout</a></li>
                <li class="active"><a href="#">Available</a></li>
                <li><a href="#">Already</a></li>
                <li><a href="#">History</a></li>
             </ul>
                
      </li>
  </ul>
    
    
            
<%end%>
<%= render template: "layouts/application"%>

