<<<<<<< HEAD

<% provide(:title, @user.name) %>

<div class='row'>
  <div class='container'>
    <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    </aside>
    
  </div>
</div>
=======
<%= content_for :user_nav do%>

<%end%>
<%= render template: "layouts/application"%>
>>>>>>> 949844079c6c656c87f676277d80c1b00e5fcb09
