<%= content_for :user_nav do %>
<% if is_passed %>
<ul class='nav nav-pills navbar-nav navbar-left '>
          <li class='nav-item' role='presentation'>
                  <%= link_to " Take Orders", "/driver/#{current_user.id}/take_order" %>
          </li>
          <li class='nav-item' role='presentation'>
                  <%= link_to "Unfinished Orders",  "/driver/#{current_user.id}/unfinished_order" %>
          </li>
          <li class='nav-item' role='presentation'>
              <%= link_to "History Orders", "/driver/#{current_user.id}/history_order" %>
          </li>
</ul>
          
 <% end %>           
<% end %>