            <ul class='nav navbar-nav navbar-right'>
          <li role='presentation'>
            <a class='dropdown-toggle' data-toggle='dropdown'>
              <%= current_user.name %>
              <span class='caret'></span>
              </a>
              <ul class='dropdown-menu'>
                <li>
                  <%= link_to 'Information', current_user%>
                 
                <li><%= link_to 'Settings', edit_student_path(current_user) %></li>
              </ul>
           
          </li>
          <li>
            <%= link_to 'Log out', logout_path, method:'delete'%>
            
          </li>
        </ul>