<%= content_for :user_nav do %>
<ul class='nav navbar-nav navbar-left'>
          <li role='presentation'>
            <%= link_to 'Create', controller: 'students', action: 'new_order'%>
          </li>
          
        </ul>
<% end %>
